DATABASE_NAME=mydb
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_URL=jdbc:postgresql://db:5432

SERVER_PORT=8090

SECRET_KEY=TO_CHANGE

EMAIL_HOST=TO_CHANGE
EMAIL_USERNAME=TO_CHANGE
EMAIL_PASSWORD=TO_CHANGE