spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DATABASE_URL}/${DATABASE_NAME}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${EMAIL_HOST}
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

server:
  port: ${SERVER_PORT:8090}

jwt:
  secret: ${SECRET_KEY}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true